@use './colors' as cr;
@use './screens' as border;

.background-navbar {
  background: cr.$gradient-primary;
}

.overlay {
  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.wrapper-height {
  height: max-content !important;
  background: cr.$gradient-primary;
  transition: transform 0.3s ease-in-out;
}

.open-navlink {
  transform: translateX(0) !important;
  transition: transform 0.3s ease-in-out;
}

.active {
  color: #38bdf8;
}
