// color
$primary: #0f172a;
$secondary: #cbd5e1;
$success: #16a34a;
$warning: #f59e0b;
$info: #3b82f6;
$danger: #ef4444;
$default: #f8fafc;
$gradient-primary: linear-gradient(to top right, #0f172a, #475569);
$gradient-secondary: linear-gradient(to top right, #525252, #f8fafc);
$gradient-warning: linear-gradient(to top right, #f59e0b, #eab308);
$gradient-info: linear-gradient(to top right, #2563eb, #3b82f6);
$gradient-danger: linear-gradient(to top right, #770101, #da7e7e);
$gradient-dark: linear-gradient(to top right, #0f172a, rgba(15, 23, 42, 0.4), #0f172a);
$gradient-trans: linear-gradient(to bottom, rgba(248, 250, 252, 0) 35%, rgba(248, 250, 252, 0.9) 100%);
